
.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    background-color: #8dcbec;
    flex-direction: column;
    gap:10px;
}

.panel{
    display:flex;
    
    }  

.header{
    background-color: lightgoldenrodyellow;
    border: 8px solid burlywood;
    box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.4);
    z-index: 1;
    
    height:60px;
    width:250px;
    
    justify-content: center;
    
}
.footer{
    background-color: lightgoldenrodyellow;
    border: 8px solid burlywood;
    box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.4);
    z-index: 1;
    
    height:40px;
    width:200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:8px;
}

.header-text{
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
    align-self: center;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border: 3px solid burlywood;
    background-color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


.btn:hover{
    background-color: bisque;
    cursor: pointer;
}

.gameCircle{
  border-radius:50%;
  width:70px;
  height:70px;
  margin:10;
  border:5px solid black;
}

.gameCircle:hover{
    cursor: pointer;
}

.gameBoard{
    width:350px;
      height:350px;
      background-color: bisque;
      border:5px solid burlywood;
      display:grid;
      border-radius: 10%;
      box-shadow: 7px 5px 15px 3px  rgba(0,0,0,0.4);
      place-items:center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}
.player_1{
    background-color: #0EC71F;
}
.player_2{
    background-color: #63C8CD;
}
.player_0{
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #253337;
    border: 3px solid rgb(0, 12, 14);
    margin: 2px;
}
.navbar h1{
    color:rgb(250, 251, 251);
    font-size: 40px;
    font-weight: 300;
}
.navbar .icon{
    color:whitesmoke;
    size: 60px;
}

@media (max-width:460px){
    .gameBoard{
        width:300px;
        height:300px;
        }
    
}